services:
  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      PORT: "8080"
      PRODUCT_CATALOG_SERVICE_ADDR: "productcatalogservice:3550"
      CURRENCY_SERVICE_ADDR: "currencyservice:7000"
      CART_SERVICE_ADDR: "cartservice:7070"
      RECOMMENDATION_SERVICE_ADDR: "recommendationservice:8080"
      SHIPPING_SERVICE_ADDR: "shippingservice:50051"
      CHECKOUT_SERVICE_ADDR: "checkoutservice:5050"
      AD_SERVICE_ADDR: "adservice:9555"
      SHOPPING_ASSISTANT_SERVICE_ADDR: "shoppingassistantservice:80"
      ENABLE_PROFILER: "0"
    depends_on:
      - checkoutservice
      - adservice
      - recommendationservice
      - productcatalogservice
      - cartservice
    networks:
      - app-network

  checkoutservice:
    build:
      context: ./src/checkoutservice
      dockerfile: Dockerfile
    environment:
      PORT: "5050"
      PRODUCT_CATALOG_SERVICE_ADDR: "productcatalogservice:3550"
      SHIPPING_SERVICE_ADDR: "shippingservice:50051"
      PAYMENT_SERVICE_ADDR: "paymentservice:50051"
      EMAIL_SERVICE_ADDR: "emailservice:5000"
      CURRENCY_SERVICE_ADDR: "currencyservice:7000"
      CART_SERVICE_ADDR: "cartservice:7070"
    depends_on:
      - cartservice
      - shippingservice
      - paymentservice
      - emailservice
      - currencyservice
    networks:
      - app-network

  adservice:
    build:
      context: ./src/adservice
      dockerfile: Dockerfile
    networks:
      - app-network
    environment:
      PORT: "9555"

  recommendationservice:
    build:
      context: ./src/recommendationservice
      dockerfile: Dockerfile
    environment:
      PORT: "8080"
      PRODUCT_CATALOG_SERVICE_ADDR: "productcatalogservice:3550"
    networks:
      - app-network

  productcatalogservice:
    build:
      context: ./src/productcatalogservice
      dockerfile: Dockerfile
    networks:
      - app-network
    environment:
      PORT: "3550"
      DISABLE_PROFILER: "1"

  cartservice:
    build:
      context: ./src/cartservice/src
      dockerfile: Dockerfile
    environment:
      REDIS_ADDR: "redis:6379"
    networks:
      - app-network

  redis:
    image: redis:6.2
    networks:
      - app-network

  shippingservice:
    build:
      context: ./src/shippingservice
      dockerfile: Dockerfile
    environment:
      PORT: "50051"
      DISABLE_PROFILER: "1"
    networks:
      - app-network

  paymentservice:
    build:
      context: ./src/paymentservice
      dockerfile: Dockerfile
    environment:
      PORT: "50051"
      DISABLE_PROFILER: "1"
    networks:
      - app-network

  currencyservice:
    build:
      context: ./src/currencyservice
      dockerfile: Dockerfile
    networks:
      - app-network
    environment:
      PORT: "7000"
      DISABLE_PROFILER: "1"

  emailservice:
    build:
      context: ./src/emailservice
      dockerfile: Dockerfile
    environment:
      PORT: "8080"
      DISABLE_PROFILER: "1"
    networks:
      - app-network

  # loadgenerator:
  #   build:
  #     context: ./src/loadgenerator
  #     dockerfile: Dockerfile
  #   environment:
  #     FRONTEND_ADDR: frontend:80
  #   networks:
  #     - app-network

networks:
  app-network:
    driver: bridge

